html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}

#site_container {
	width: 100%;
	height: 100%;
	text-align: center;
}
.column {
	width: 33.33%;
	height: 100%;
	float: left;
}

textarea {
	width: 95%;
	height: 80%;
}

#column_2 > * {
	width: 51%;
	float: left;
}

#column_2 h2 {
	width: 100%;
}

#column_2 input {
	width: 25%;
	float: left;
}

#column_2 a {
	padding-top: 100px;
	width: 100%;
}

div#feedback {
	color: green;
	width: 100%;
}